{% extends "base.html" %}
{% block title %} Login {% endblock title %}


{% block block_head %}
<style>
    body {
      background-color: #111;
      color: #fff;
    }
            .centered_div1{
            position: relative;
       left: 0%;
      }
</style>
{% endblock %}


{% block content %}

<div class="centered_div">
    <h1 id="form-title">LOGIN</h1> <br>
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5" style="width: 350px;">
                    <div class="form-group">


                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"> <b>Username:</b></span>
                            </div>
                            <input type="text" name="username" placeholder="Username..." class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"> <b>Password:</b></span>
                            </div>
                            <input type="password" name="password" placeholder="Password..." class="form-control">
                        </div>


                    </div>
                    <br><br>
                    <div class="centered_div1">

                        <input class="btn btn-dark btn-lg" type="submit" style="width: 350px;" value="Login">
                    </div>
                    <div class="mt-4">
                        <div>
                            You don't have any account? <a href="{% url 'register' %}" class="ml-2" style="color:red;">Sign
                            up</a>
                        </div>

                    </div>


                    <div class="mt-4">
                        <div>
                            Forgot password? <a href="{% url 'password_reset' %}" class="ml-2" style="color:red;">Reset
                            password</a>
                        </div>

                    </div>
                </div>
        </form>
    </div>
    {% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}
</div>

{% endblock content %}

