{% extends "base.html" %}
{% block title %} Register {% endblock title %}


{% block block_head %}
<style>
    body {
      background-color: #111;
      color: #fff;
    }
            .centered_div1{
            position: relative;
       left: 0%;
      }
</style>
{% endblock %}


{% block content %}

<div class="centered_div">
    <h1 id="form-title">REGISTER</h1> <br>
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5" style="width: 350px;">
                    <form method="POST" action="">
                        {% csrf_token %}

                        <span class="input-group-text"> <b>Username:</b></span>
                        {{ form.username }}<br>

                        <span class="input-group-text"> <b>Email:</b></span>
                        {{ form.email }}<br>

                        <span class="input-group-text"> <b>Password:</b></span>
                        {{ form.password1 }}<br>

                        <span class="input-group-text"> <b>Password again:</b></span>
                        {{ form.password2 }}


                    </form>
                    <br><br>
                    <div class="centered_div1">
                        <input class="btn login_btn" type="submit" style="width: 350px;color:white;"
                               value="Register Account">
                    </div>
                    <div class="mt-4">
                        <div>
                            Already have an account? <a href="{% url 'login' %}" class="ml-2"
                                                        style="color:red;">Login</a>
                        </div>
                    </div>

                </div>
        </form>
    </div>
    {% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder='Username..';
    form_fields[3].placeholder='Email..';
    form_fields[4].placeholder='Enter password...';
    form_fields[5].placeholder='Re-enter Password...';


    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock content %}


