{% extends "base.html" %}
{% block title %} Playing {{song.artist}} - {{song.title}} {% endblock title %}


{% block block_head %}
<style>
    @font-face {
font-family: 'GhotamBook';
src: url("Mshp-music-main/static/fonts/Circular/GothamBook.ttf") format("ttf");
font-weight: 300;
font-style: normal;
}


.author-info {
background-color: #222;
color: #fff;
float: right;
width: 300px;
padding: 10px;
margin-top: 50px;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
font-family: 'GhotamBook',  sans-serif;
}
    /* Стили для списка песен */
.song-list {
float: left;
width: 300px;
padding: 10px;
margin-top: 50px;
background-color: #222;
color: #fff;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
font-family: 'GhotamBook',  sans-serif;
}

.artist-list{
width: 300px;
padding: 10px;
margin-top: 50px;
background-color: #222;
color: #fff;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
font-family: 'GhotamBook',  sans-serif;
}
body {
background-color: #111;
color: #fff;
}
.navbar {
background-color: #222; /* Серый цвет фона */
padding: 10px;
position: absolute;
top: 0;
right: 83%;
width: 100%;
display: flex;
justify-content: flex-end;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.nav-links {
display: flex;
align-items: flex-start;
gap: 15px;
}

.nav-links a {
text-decoration: none;
color: darkgray;
padding: 10px;
transition: color 0.3s ease;
font-family: 'GhotamBook',  sans-serif;
}

.nav-links a:hover {
color: white;
}
</style>
{% endblock %}

{% block content %}
<div class="navbar">
    <nav class="nav-links">
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'playlist_page' playlist.slug %}">Playlist</a>
    </nav>
</div>
<div class="entry">
    <div style="text-align: center; margin-top: 20px; margin-right: 20px;">
        <h1> {{ song.song_name }} </h1>
        <p>playlist of {{ profile.user.username }}</p>
        <img src="{{ song.thumbnail.url }}"
             width="316"
             height="316"> <br>
        <a href="../{{prev_song_id}}/">Previous song</a>
        <audio controls>
            <source src="{{ song.audio_file.url}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <a href="../{{next_song_id}}/">Next song</a> <br> <br>
        {% if is_your_song %}
        <button class="btn btn-dark btn-lg"><a href="{% url 'change_song' song.slug %}">Change</a></button>
        <button class="btn btn-dark btn-lg"><a href="{% url 'delete_song' song.slug %}">Delete</a></button>
        {% else %}
        {% if is_liked %}
        <button class="btn btn-dark btn-lg"><a href="{% url 'unlike_song' song.slug %}">Unlike</a></button>
        {% else %}
        <button class="btn btn-dark btn-lg"><a href="{% url 'like_song' song.slug %}">Like</a></button>
        {% endif %}
        {% endif %}
    </div>

    <div class="author-info">
        <p><b>Genre</b>: {{ song.genre }}</p>

        <pre><b>Lyrics</b>: {{ song.lyrics }}</pre>

    </div>
    <div class="song-list">
        <p><b>Artist:</b></p>

        <ul>
            {% for artist in artists %}
            <li><a href="{% url 'artist_profile' artist.slug %}" style="color:white;"> {{ artist }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}
</div>


{% endblock content %}


