<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playing {{song.artist}} - {{song.title}}</title>
</head>
<body>
    <a href="../..">Song list</a>
    <hr>
    <h1>{{ song.title }}</h1>
    <h2>{{ song.artist }}</h2>
    <img src="{{song.image.url}}">
    <a href="../{{prev_song_id}}/">Previous song</a>
    <audio controls>
      <source src="{{ song.audio_file.url}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <a href="../{{next_song_id}}/">Next song</a>
    <hr>
    <h2>Lyrics:</h2>
    <pre>{{song.lyrics}}</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<!--<head>-->
<!--    <title>Play Song</title>-->
<!--    {% load static %}-->
<!--    <script src="{% static 'playback.js' %}"></script>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Playing "{{ song.title }}"</h1>-->
<!--    <h2>{{song.audio_file.url}}</h2>-->
<!--    <audio controls>{{song.audio_file}}</audio>-->
<!--&lt;!&ndash;    <figure>&ndash;&gt;-->
<!--&lt;!&ndash;  <figcaption>Listen to the T-Rex:</figcaption>&ndash;&gt;-->
<!--&lt;!&ndash;  <audio controls src="../../{{song.audio_file.url}}"></audio>&ndash;&gt;-->
<!--&lt;!&ndash;</figure>&ndash;&gt;-->
<!--    <script>-->
<!--        const songUrl = '{{ song.audio_file.url}}';-->
<!--        playSong(songUrl);-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->