<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playing {{song.artist}} - {{song.title}}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="../..">Song list</a>
    <hr>
    <h1>{{ song.title }}</h1>
    <h2>{{ song.artist }}</h2>
    <img src="{{song.image.url}}"
        width="316"
        height="316">
    <a href="../{{prev_song_id}}/">Previous song</a>
    <audio controls>
      <source src="{{ song.audio_file.url}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <a href="../{{next_song_id}}/">Next song</a>
    <hr>
    <h2>Lyrics:</h2>
    <pre>{{song.lyrics}}</pre>
</body>
</html>

<!DOCTYPE html>
<html>
