{% extends "base.html" %}


{% block title %} Artist Profile {% endblock title %}

{% block block_head %}
<link rel="stylesheet" type="text/css" href="style.css" />
{% endblock block_head %}

{% block content %}
    <div class="entry">
    {% if exist %}
        <h1>Profile of {{artist.stage_name}}</h1>
        <img class="rounded-circle account-img" src="../../media/{{user.profile.image}}" alt="{{user.username}}'s profile picture" /> <br>
        <p><b>Songs:</b></p>

        <ul>
            {% for song in songs %}
                <li> {{ song }}</li>
            {% endfor %}
        </ul>

        {% if is_your_profile %}
            <button class="btn btn-dark btn-lg"><a href="../change">Change Your Profile</a> </button>
        {% else %}
            <button class="btn btn-dark btn-lg"><a href="/follow">Follow</a> </button>
        {% endif %}
        {% for message in messages %}
					<p id="messages">{{ message }}</p>
		{% endfor %}
    {% else %}
        <h1>Such artist does not exist</h1>
    {% endif %}
    </div>


{% endblock content%}