{% extends "base.html" %}
{% block title %} Create genre {% endblock title %}

{% block content %}

    {% if genre_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in genre_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}


    {% if exist %}
        <h1>THIS GENRE ALREADY EXISTS!</h1>
    {% else %}
    <h1>Create new genre</h1>
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">

                        <label class="small mb-1">Name:</label>
                        {{ genre_form.name }}

                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>

    {% endif %}
{% endblock content %}
