{% extends "base.html" %}


{% block title %} Playlists Preferences {% endblock title %}

{% block block_head %}
<style>
    .centered_div {
   width: Xu;
   height: Yu;
   position: absolute;
   top: 40%;
   left: 34%;

}
</style>
{% endblock %}

{% block content %}
<div class="navbar">
    <nav class="nav-links">
        <a href="{% url 'main' %}">Home</a>
    </nav>
</div>
<div class="entry">
    {% if exist %}
    <h1>Favourite artists of {{profile.user.username}}:</h1>
    <ul>
        {% for playlist in playlists %}
        <div class="d-flex align-items-center">
            <li><h3>{{ playlist.title }} (of {{ playlist.author}})</h3></li>

            {% if is_your_profile %}
            <button type="button" class="btn btn-sm" aria-label="Close">
                <span aria-hidden="true"><a href="{% url 'unlike_playlist' playlist.slug %}" style="color:black;"> &#10062;</a></span>
            </button>
            {% else %}
            <button type="button" class="btn btn-sm" aria-label="Close">
                <span aria-hidden="true"><a href="{% url 'like_playlist' playlist.slug %}"
                                            style="color:black;"> &#9989; </a></span>
            </button>
            {% endif %}
            <img class="rounded-circle account-img" src="../../../media/{{playlist.playlist_thumbnail}}"
                 href="{% url 'playlist_page' playlist.slug %}" alt="{{playlist.title}}'s thumbnail"/> <br>
            <h4>Genre - {{ playlist.genre }}</h4>
        </div>
        {% endfor %}
    </ul>

    {% else %}
    <div class="centered_div">
        <h1>{{profile.user.username}} don't have favourite artists</h1>
    </div>
    {% endif %}

    {% for message in messages %}
    <p id="messages">{{ message }}</p>
    {% endfor %}

</div>


{% endblock content%}